.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-section {
    background-image:
    linear-gradient(0deg, rgb(59, 59, 59), transparent 25%),
    url('../images/background/background-beach.jpg');
    background-size: cover;
    background-position: center;
}

.bottom-section {
    background-color: rgb(59, 59, 59);
}

.weather-container,
.compare-weather-container {
    max-width: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    height: 500px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.weather-container h2 {
    font-size: 40px;
}

.input-field {
    background-color: rgba(56, 56, 56, 0.651);
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

#city-input {
    flex-grow: 2;
    padding: 5px;
    outline: none;
    background-color: rgba(151, 151, 151, 0.397);
}

#weather-button {
    background-color: rgba(151, 151, 151, 0.397);
    flex-grow: 1;
    padding: 5px;
}

#city-input,
#weather-button {
    font-size: 30px;
    border: none;
    color: white;
}

#weather-button:hover {
    cursor: pointer;
    color: rgb(116, 116, 116);
}
#display-info{
    line-height: 1;
    color:white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title{
    font-size: 34px;
    color:rgb(182, 182, 182);
}
.icon-info{
    padding-left: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.temp-info{
    font-size: 150px;
    padding-right: 20px;
    align-self: flex-start;
}