
form {
    margin-top: 60px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--white);
}

input[type=text],
input[type=password] {
    border-bottom: 2px solid var(--white);
}

input[type=submit] {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: var(--accent-color);
}

input[type=submit]:hover {
    transform: scale(1.03);
}

main label {
    color: var(--white);
}

.sign-in-page {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
    margin-bottom: 90px;
}

.sign-in-container {
    margin-top: 70px;
    max-width: 540px;
    width: 100%;
    height: 600px;
    padding: 40px 50px 40px 50px;
    justify-content: center;
    margin-bottom: 90px;
}

.sign-up-text {
    font-size: 28px;
    color: var(--white);
    margin-bottom: -10px;
    cursor: default;
}

.form-elements {
    position: relative;
    height: 100px;
    margin: 20px 0;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.button-loading::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

#button-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 84px;
}

#forgot-password {
    padding-top: 10px;
    color: var(--lightgrey);
    cursor: default;
}

/* Sign in animation */
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@media all and (max-width: 540px) {
    .sign-in-container {
        padding-right: 14px;
        padding-left: 14px;
    }
}
