
:root {
    /* ----- Colors ----- */
    --white: #ffffff;
    --lightgrey: #cecdd4;
    --grey: #68686d;
    --darkgrey: rgb(59, 59, 59);
    --accent-color: rgb(36, 88, 138);
    --accent-color-light: rgb(56, 139, 218);
    --toggle-btn-dark: #47474b;
    --toggle-btn-light: #ffa500;

    /* ----- Sizes ----- */
    --border-radius: 0px;
    --blur-medium: 3px;

    /* ----- Image ----- */
    --background-image: url("../images/background/background-dark.jpg");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}

a,
a:visited {
    text-decoration: none;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.debug {
    background-color: rgb(226, 121, 23);
}

.hidden {
    display: none;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
}

.text-bold {
    font-weight: bold;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.transparent-blurred {
    backdrop-filter: blur(var(--blur-medium));
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.no-select {
    user-select: none;
}

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-underline {
    text-decoration: underline !important;
    text-decoration-color: black !important;
    text-underline-offset: 6px;
}
